.alert.alert-dismissable.alert-success.fade(id='editsuccessalert')
    button.close(type='button',data-dismiss='alert') ×
    h4 Awesome!
    p Datensatz wurde erfolgreich in der Datenbank aktualisiert.

.alert.alert-dismissable.alert-danger.fade(id='editfailalert')
    button.close(type='button',data-dismiss='alert') ×
    h4 Upps!
    p Da ist wohl was schief gelaufen.
