#footer
  .container
    ul.list-inline.pull-left
      li
        | © 2014 released under the
        =' '
        a(href='https://github.com/kollemate/kolledata/blob/master/LICENSE') MIT
        |  license
    ul.list-inline.pull-right
      li
        a(href='https://github.com/kollemate/kolledata') GitHub Project
      li
        a(href='https://github.com/kollemate/kolledata/issues') Issues
