extends layout

block content
    a(href='https://github.com/kollemate/kolledata')
        img(style="position: absolute; top: 0; right: 0; border: 0;",src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67",alt="Fork me on GitHub",data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png")
    h1
        | Made with
        =' '
        i.fa.fa-heart
        |  and fueled by
        =' '
        a(href='http://kolle-mate.de') Kolle-Mate
    p.lead Version 0.0.1
    p
        | If you find any bugs or have any issues or questions with this project, please send a mail to
        =' '
        a(href='mailto:kollemate@ifsr.de') our mailinglist
        =' '
        | or directly open an issue on the
        =' '
        a(href='https://github.com/kollemate/kolledata/issues') project page
        =' '
        | . Thanks :)
    p
        | The MIT License (MIT)
        | Copyright (c) 2014
        | Kilian Koeltzsch, Sascha Peukert, Frank Hedecke, Philipp Heisig, Patrick Reipschläger, Sebastian Mielke, Lucas Woltmann
    p
        | Permission is hereby granted, free of charge, to any person obtaining a copy
        | of this software and associated documentation files (the "Software"), to deal
        | in the Software without restriction, including without limitation the rights
        | to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
        | copies of the Software, and to permit persons to whom the Software is
        | furnished to do so, subject to the following conditions:
    p
        | The above copyright notice and this permission notice shall be included in all
        | copies or substantial portions of the Software.
    p
        | THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
        | IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
        | FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
        | AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
        | LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
        | OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
        | SOFTWARE.


