extends layout

block content
    .jumbotron
        h1
            | Error
            =' '
            = error.status
        .alert.alert-danger
            p
                = error.message
        p.lead
            = dict.get('errors', 'flavorText')
