extends layout

block content
    .jumbotron
        h1
            | Error
            =' '
            = error.status
        p.lead Sie sollten nun in Panik verfallen und wild mit dem Armen wedelnd im Raum herumlaufen.