extends layout

block content
    .jumbotron
        h1
            = dict === undefined ? 'ERROR' : dict.get('home', 'intro1')
            span.text-info  kolledata
            | .
        p.lead
            = dict === undefined ? 'ERROR' : dict.get('home', 'intro2')
        p
            = dict === undefined ? 'ERROR' : dict.get('home', 'infoText')
        p
            a.btn.btn-primary.btn-lg(href='http://github.com/kollemate/kolledata') GitHub


