extends layout

block content
    p.lead
        = dict === undefined ? 'ERROR' : dict.get('import', 'title')
    .alert.alert-warning
        h4
            = dict === undefined ? 'ERROR' : dict.get('import', 'alertInfoTitle')
        p
            = dict === undefined ? 'ERROR' : dict.get('import', 'alertInfoText')
            
    form(action='/import', method='post', enctype='multipart/form-data')
        input(type='file', name='csvFile')
        button.btn.btn-info.btn-xs(type='submit')
            = dict === undefined ? 'IMPORT' : dict.get('import', 'importButtonText')
