extends layout

block content
    p.lead
        | Importieren von Daten in die Datenbank
    .alert.alert-warning
        h4 Achtung
        p
            | Nutzen Sie diese Funktion nur wenn sie sich sicher sind, was sie tun.

    button.btn.btn-info.btn-xs(type='submit') IMPORTIEREN