extends layout

block content
    - if (state === undefined || state === 'login') {
    - } else if (state === 'info') {
        .alert.alert-info
            h4
                = dict === undefined ? 'ERROR' : dict.get('login', 'messageInfo')
    - } else if (state === 'success') {
        .alert.alert-success
            h4
                = dict === undefined ? 'ERROR' : dict.get('login', 'messageSuccess')
    - } else if (state === 'failed') {
        .alert.alert-danger
            h4
                = dict === undefined ? 'ERROR' : dict.get('login', 'messageFailed')
    - }

    - if (state === undefined || state != 'success') {
        .col-md-4.col-md-offset-4
            .modal-content
                .login-panel.panel.panel-default
                    .panel-heading
                        p.panel-title(style='text-align:center')
                            strong
                                = dict === undefined ? 'ERROR' : dict.get('login', 'title')
                    .panel-body
                        form(action='/login', method='post')
                            fieldset
                                .form-group
                                    label(for='username')
                                        h5
                                            = dict === undefined ? 'ERROR' : dict.get('login', 'usernameLabel')
                                    input.form-control(type='text', id='username', name='username' required)
                                .form-group
                                    label(for='password')
                                        h5
                                            = dict === undefined ? 'ERROR' : dict.get('login', 'passwordLabel')
                                    input.form-control(type='password', id='password', name='password')
                                .form-group
                                    .checkbox
                                        label
                                            input(type='checkbox', value='auto-login', id='autoLogin', name='autoLogin')
                                            = dict === undefined ? 'ERROR' : dict.get('login', 'autoLoginLabel')
                                .form-group
                                    button.btn.btn-primary.btn-block(type='submit')
                                        = dict === undefined ? 'ERROR' : dict.get('login', 'loginButtonText')
                                a.pull-left
                                    = dict === undefined ? 'ERROR' : dict.get('login', 'createNewAccount')
                                a.pull-right
                                    = dict === undefined ? 'ERROR' : dict.get('login', 'needHelp')
    - }
