extends layout

block content
    //- include partials/alerts

    h2
        =results[0]['per_firstname']
        =' '
        =results[0]['per_name']

    p
        strong URL
    p=results[0]['per_url']

    p
        strong E-MAIL
    - for (var i = 0; i < emails.length; i++) {
        p=emails[i]['em_email']
    - }

    p
        strong COMPANY
    p=results[0]['com_name']

    p
        strong MEMO
    p=results[0]['per_memo']

    p
    form(method='get',action='/persons/')         
        button.btn.btn-info.btn-xs(type='submit') Zurück