.hidden {
    display: none;
}

.btn {
    margin: 0 1px;
}

.nopadding {
    padding: 0;
}

textarea.input {
    line-height: 16px;
    height: 16px;
    padding: 10px;
    margin-bottom: 10px;
}

.symbolbutton {
    display: inline-block;
    width: 1.1em; /* Works for me. Damn these ki... hacks. */
}

.sort_icons {
    padding: 2px;
    padding-left: 4px;
}

.mouse_pointer {
    cursor: pointer;
}

#gravatar {
    margin: 5px;
    margin-right: 10px;
    width: 50px;
    height: auto;
}
