extends ../layout

block content
    //- include partials/alerts

    .col-md-5
        div.panel.panel-primary
            div.panel-heading
                .pull-left
                    img(src=gravatar, alt='gravatar')
                h3
                    =results['per_firstname']
                    =' '
                    =results['per_name']
                        .pull-right
                            form(method='get',action='/persons/' + results['per_id'] + '/edit')
                                button.btn.btn-info.btn-xs(type='submit')
                                    = dict === undefined ? 'ERROR' : dict.get('persons', 'editButtonText')

        div.list-group
            div.list-group-item
                h5.list-group-item-heading
                    strong
                        = dict === undefined ? 'ERROR' : dict.get('persons', 'url')
                h5.list-group-item-text
                    =results['per_url']

        div.list-group
            div.list-group-item
                h5.list-group-item-heading
                    strong
                        = dict === undefined ? 'ERROR' : dict.get('persons', 'email')
                h5.list-group-item-text
                    =results['per_email1'];


        div.list-group
            div.list-group-item
                h5.list-group-item-heading
                    strong
                        = dict === undefined ? 'ERROR' : dict.get('persons', 'company')
                h5.list-group-item-text
                    =results['com_name']

        p
        form(method='get',action='/persons/')
            button.btn.btn-info.btn-xs(type='submit')
                = dict === undefined ? 'ERROR' : dict.get('persons', 'backButtonText')

    .col-md-7
        div.list-group
            div.list-group-item.memotextdiv
                h5.list-group-item-heading
                    strong
                        = dict === undefined ? 'ERROR' : dict.get('persons', 'memo')
                form(method='post',action='/persons/' + results['per_id'] + '/editMemo')
                    input.hidden.form-control(type='text',id='id',name='id',value=results['per_id'])
                    textarea.memotextarea.form-control(id='memo',name='memo')=results['per_memo']
                    p
                    button.btn.btn-info.btn-xs(type='submit')
                        = dict === undefined ? 'ERROR' : dict.get('persons', 'saveButtonText')
