extends ../layout

block content
    - if (state === undefinded) {
    - } else if (state === 'success') {
        .alert.alert-success
            h4
                = dict === undefined ? 'ERROR' : dict.get('changePassword', 'messageSuccess')
    - } else if (state === 'wrongPassword') {
        .alert.alert-danger
            h4
                = dict === undefined ? 'ERROR' : dict.get('changePassword', 'messageOldPasswordWrong')
    - } else if (state === 'confirmWrong') {
        .alert.alert-danger
            h4
                = dict === undefined ? 'ERROR' : dict.get('changePassword', 'messageConfirmWrong')
    - }
    
    - if (state !== 'success') {
        .col-md-4.col-md-offset-4
            //.modal-content
            .panel.panel-default
                .panel-heading
                    = dict === undefined ? 'ERROR' : dict.get('changePassword', 'title')
                    strong
                        = username
                .panel-body
                    form(action='/account/changePassword', method='post')
                        fieldset
                            .form-group
                                label(for='oldPwdPlain')
                                    h5
                                        = dict === undefined ? 'ERROR' : dict.get('changePassword', 'oldPasswordLabel')
                                input.form-control(type='password', id='oldPwdPlain', required, onChange='setPwdHash(\'oldPwdPlain\', \'oldPassword\')')
                                input.form-control(type='hidden', id='oldPassword', name='oldPassword', value='')
                            .form-group
                                label(for='newPwdPlain')
                                    h5
                                        = dict === undefined ? 'ERROR' : dict.get('changePassword', 'newPasswordLabel')
                                input.form-control(type='password', id='newPwdPlain', required, onChange='setPwdHash(\'newPwdPlain\', \'newPassword\')')
                                input.form-control(type='hidden', id='newPassword', name='newPassword', value='')
                            .form-group
                                label(for='confirmPwdPlain')
                                    h5
                                        = dict === undefined ? 'ERROR' : dict.get('changePassword', 'confirmPasswordLabel')
                                input.form-control(type='password', id='confirmPwdPlain', required, onChange='setPwdHash(\'confirmPwdPlain\', \'confirmPassword\')')
                                input.form-control(type='hidden', id='confirmPassword', name='confirmPassword', , value='')
                            .form-group
                                button.btn.btn-primary.btn-block(type='submit')
                                    = dict === undefined ? 'ERROR' : dict.get('changePassword', 'submitButtonText')
    - }
