extends ../layout

block content
    .col-md-4.col-md-offset-4
        //.modal-content
        .panel.panel-default
            .panel-heading
                = dict === undefined ? 'ERROR' : dict.get('changePassword', 'title')
                strong
                    = username
            .panel-body
                form(action='/account/changePassword', method='post')
                    fieldset
                        .form-group
                            label(for='oldPassword')
                                h5
                                    = dict === undefined ? 'ERROR' : dict.get('changePassword', 'oldPasswordLabel')
                            input.form-control(type='password', id='oldPassword', name='oldPassword', required)
                        .form-group
                            label(for='newPassword')
                                h5
                                    = dict === undefined ? 'ERROR' : dict.get('changePassword', 'newPasswordLabel')
                            input.form-control(type='password', id='newPassword', name='newPassword', required)
                        .form-group
                            label(for='confirmPassword')
                                h5
                                    = dict === undefined ? 'ERROR' : dict.get('changePassword', 'confirmPasswordLabel')
                            input.form-control(type='password', id='confirmPassword', name='confirmPassword', required)
                        .form-group
                            button.btn.btn-primary.btn-block(type='submit')
                                = dict === undefined ? 'ERROR' : dict.get('changePassword', 'submitButtonText')
